<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h4>Ingresar Producto</h4>

<%= form_with model: [@category, Product.new], local: true do |f| %>
  <%= f.label :nombre %>
  <%= f.text_field :name, id: :product_name %>

  <%= f.label :precio %>
  <%= f.number_field :price, id: :product_price %>

  <%= f.submit %>
<% end %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
  </tr>
  <% @category.products.each do |product| %>
    <tr>
      <td> <%= product.name %></td>
      <td> <%= product.price %></td>
      <td> <%= link_to 'Borrar', category_product_path(@category,product), method: :delete, class: 'btn btn-danger btn-sm' %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
